---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$body-font: "Adobe Garamond Pro", serif;
$heading-font: "Futura", sans-serif;

a {
  color: #C00;
  text-decoration: underline;
  text-decoration-style: dashed;
}

body {
  font: 11pt $body-font;
}

div.content {
  display: block;
}

div.footer {
  border-top: 1px solid #CCC;
  display: block;
  font-size: 80%;
  margin-top: 20px;
}

div.header {
  display: block;
  margin-bottom: 20px;
}

div.main {
  display: block;
  margin: 0 auto 0 auto;
  padding: 0;
  width: 600px;
}

h1, h2, h3, h4, h4, h5, h6 {
  font-family: $heading-font;
}

li.title {
  clear: both;
  display: block;
  font-family: $body-font;
  margin-bottom: 20px;
  overflow: auto;
}

li.title img {
  float: left;
  width: 250px;
}

li.title div {
  float: right;
  margin: 0 10px 0 10px;
  vertical-align: middle;
  width: 330px;
}

li.title h3 {
  text-transform: uppercase;
  margin: 0 0 0 0;
}

span.title_title {
  font-size: 150%;
  text-transform: uppercase;
}

ul.titles {
  padding: 0 0 0 0;
}
