---
layout: default
---
<h2>Udgivelser</h1>
<ul class="titles">
  {% for book in site.data.contentful.spaces.fsaa.book %}
  <li class="title">
    <img src="http://{{ book.cover.url }}"
      alt="{{book.cover.title}}"/>
    <br/>
    {% assign author_count = book.authors | size | minus: 1 %}
    {% for i in (0 .. author_count) %}
      {% assign this_author_id = book.authors[i].first[1].first[1] %}
      {% for author in site.data.contentful.spaces.fsaa.author %}
        {% if this_author_id == author.first[1].first[1] %}
          {{ author.name }}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </li>
  {% endfor %}
</ul>
